.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
apps/*/build
apps/*/dist
apps/*/node_modules
apps/*/pnpm-lock.yaml
apps/*/.next

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

/logs/
/tests-examples/
